body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #858080;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
.form-container h1 {
    margin-bottom: 20px;
}
.player-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.player-option label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}
.player-option img {
    width: 80px;
    height: auto;
    border-radius: 5px;
    margin-left: 10px;
}
.form-container button {
    width: 50%;
    padding: 10px;
    background: #5291da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.form-container button:hover {
    background: #88c0ff;
}